<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>InventoryManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemController</display-name>
    <servlet-name>AddItemController</servlet-name>
    <servlet-class>controller.AddItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemController</servlet-name>
    <url-pattern>/AddItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemListController</display-name>
    <servlet-name>ItemListController</servlet-name>
    <servlet-class>controller.ItemListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemListController</servlet-name>
    <url-pattern>/ItemListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewController</display-name>
    <servlet-name>ViewController</servlet-name>
    <servlet-class>controller.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewController</servlet-name>
    <url-pattern>/ViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/UpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatchController</display-name>
    <servlet-name>DispatchController</servlet-name>
    <servlet-class>controller.DispatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchController</servlet-name>
    <url-pattern>/DispatchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DispatchItemSearch</display-name>
    <servlet-name>DispatchItemSearch</servlet-name>
    <servlet-class>controller.DispatchItemSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchItemSearch</servlet-name>
    <url-pattern>/DispatchItemSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QRCodeServlet</display-name>
    <servlet-name>QRCodeServlet</servlet-name>
    <servlet-class>controller.QRCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QRCodeServlet</servlet-name>
    <url-pattern>/QRCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
</web-app>